video {
  position: fixed;
  max-width: 65%;
  max-height: 65%;
  left: 50%;
  top: 30%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%);
}

@media screen and (min-width: 720px) {

  .text {
    color: #1976D2;
    font-weight: 800;
    font-size: x-large;
    margin-top: 20px;
  }

  .text h1 {
    font-size: 2em;
  }

  video {
    position: fixed;
    max-width: 65%;
    max-height: 65%;
    left: 50%;
    top: 30%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 420px) {
  video {
    position: fixed;
    max-width: 65%;
    max-height: 65%;
    left: 50%;
    top: 50%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%);
  }
}


.text {
  color: #1976D2;
  margin-top: 20px;
}
