video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
}

.text {
  position: absolute;
  color: #C30E2E;
  font-weight: 800;
  font-size: x-large;
  left: 3%;
  top: 85%;
}

.text h1 {
  font-size: 2em;
}


