<nav class="navbar navbar-toggleable-md bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand text-uppercase" routerLink="places" (click)="onFilterMyPlaces()" appNavBrandFlip>
    <img src="assets/images/my-places-logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    <span style="margin-left: -7px">My Places</span>
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="home" routerLinkActive="active"><i class="fa fa-home"></i><span
          class="sr-only">(current)</span>&nbsp;Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="places" routerLinkActive="active" (click)="removeFilterMyPlaces()"><i class="fa fa-map-marker"></i><span
          class="sr-only">(current)</span>&nbsp;Places</a>
      </li>
      <li *ngIf="auth.isSignedUp | async" class="nav-item">
        <a class="nav-link" routerLink="newPlace" routerLinkActive="active"><i class="fa fa-plus-circle"></i><span
          class="sr-only">(current)</span>&nbsp;Add new place</a>
      </li>
      <li class="nav-item dropdown" appDropdown="">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false"><i class="fa fa-list"></i>&nbsp;Categories</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
          <a class="dropdown-item" *ngFor="let cat of categories" (click)="onFilterByCategory(cat)">{{cat}}</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" #searchForm="ngForm">
      <input id="searchInput" class="form-control mr-sm-2" type="text" name="search" placeholder="Search" #search="ngModel" ngModel (keyup)="onSearch($event)">
    </form>
    <ul class="navbar-nav mr-5">
      <li *ngIf="auth.isSignedUp | async; else signInLink" class="nav-item dropdown" appDropdown="">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false"><i class="fa fa-user"></i> {{ (auth.getLoggedUser() | async)?.username | titlecase }}</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="profile" routerLinkActive="active">Profile</a>
          <hr>
          <a class="dropdown-item" (click)="onSignOut()">Sign-Out <i
            class="fa fa-sign-out"></i></a>
        </div>
      </li>
      <li class="nav-item">
        <ng-template #signInLink>
          <a class="nav-link" routerLink="signin" routerLinkActive="active">Sign-In <i class="fa fa-sign-in"></i></a>
        </ng-template>
      </li>
    </ul>
  </div>
</nav>
