<agm-map class="agm-map" [latitude]="lat" [longitude]="lng" [zoom]="14"
         (mapRightClick)="rightClickOnMapNewPlaceInfoWindow($event, newPlaceInfoWindow)">
  <agm-info-window #newPlaceInfoWindow [latitude]="newPlaceInfoWindow.latitude"
                   [longitude]="newPlaceInfoWindow.longitude">
    <a class="nav-link" [routerLink]="['/newPlace', newPlaceInfoWindow.latitude, newPlaceInfoWindow.longitude]"
       routerLinkActive="active"><i class="fa fa-plus-circle"></i><span
      class="sr-only">(current)</span>&nbsp;Add new place here</a>
  </agm-info-window>
  <agm-marker *ngFor="let place of places | async"
              [latitude]="place.latitude"
              [longitude]="place.longitude"
              [iconUrl]="getCategoryImagePath(place.category)">
    <agm-info-window [disableAutoPan]="true" #infoWindow class="my-agm-info-window">
      <div class="agm-info-window-content container disable-scroll">
        <div class="col-md-12">
          <div class="row">
            <div class="background-div" [ngStyle]="{'background-image': 'url(' + place.imagePath + ')'}">
            </div>
          </div>
          <br>
          <div class="row">
            <h4>{{place.name}}</h4>
          </div>
          <div class="row">
            <p>{{place.address}}</p>
          </div>
          <div class="row">
            <p>Open time: {{place.openTime}} - {{place.closeTime}}</p>
          </div>
          <div class="row">
            <p>Website:&nbsp;</p><a target="_blank" href="{{place.webUrl}}">{{ place.name }}</a>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <div *ngIf="auth.isSignedUp | async">
                <button type="button" class="btn btn-primary" [routerLink]="place.$key + '/details'"><i
                  class="fa fa-edit"></i>&nbsp;Edit
                </button>
              </div>
            </div>
            <div class="col-xs-5 offset-1">
              <div *ngIf="auth.isSignedUp | async">
                <button (click)="onAddToMyPlaces(place.$key, infoWindow)" class="btn btn-success"><i
                  class="fa fa-plus"></i>&nbsp;To my places
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </agm-info-window>
  </agm-marker>
</agm-map>
<app-alert></app-alert>
