agm-map {
  height: calc(100vh - 100px);
}
.disable-scroll{
  overflow: hidden;
}
.background-div{
  height: 150px;
  width: 100%;
  background: no-repeat center;
  background-size: cover;
  border-radius: 2rem;
}

.agm-info-window-content{
  width: 300px;
}

app-alert {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
