agm-map {
  height: calc(90vh);
}
.disable-scroll{
  overflow: hidden;
}
.background-div{
  height: 150px;
  width: 100%;
  background: no-repeat center;
  background-size: cover;
  border-radius: 2rem;
}

.agm-info-window-content{
  width: 300px;
}


